
@{ 
    ViewBag.Title = "Home Page";
}

<div>"Welcome User!!"</div>
<div><a asp-action="Details" asp-controller="Books">Books Home</a></div>
<div><a asp-action="Details" asp-controller="Lip">Cosmetics</a></div>


